.promo {
  padding: 40px;
  padding-top: 0px;

  .container {
    background-image: url('../../assets/bg/bg-transform.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 81px;
    padding-top: 118px;
    color: var(--color-white);
  }

  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.25;
    max-width: 400px;
    margin-bottom: 21px;
  }

  .btn {
    background-color: var(--color-white);
    color: #222;
    border: none;
    padding: 10px 19px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;

    &:hover {
      opacity: 0.9;
      transform: translateY(-2px);
    }
  }
}