.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);

    .nav {
        display: flex;
        gap: 28px;

        a {
            text-decoration: none;
            color: #666;
            font-size: 20px;
            font-weight: 400;
            transition: color 0.2s;

            &:hover,
            &.active {
                color: var(--color-accent-hover);
            }
        }
    }

    .actions {
        display: flex;
        gap: 10px;

        .iconBtn {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: var(--color-accent);
            border: none;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background-color: var(--color-accent-hover);
            }

            &.active {
                background-color: #febf5a; // Оранжевый акцентный цвет
            }

            img {
                width: 20px;
            }
        }
    }
}
