.collection {
    padding: 50px 40px;
    text-align: center;

    .title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .carouselWrapper {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .swiperContainer {
        width: 100%;
        padding: 10px 0;
    }

    .slide {
        display: flex;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .imgWrapper {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }
        }

        &:hover .imgWrapper img {
            transform: scale(1.05);
        }

        .cardTitle {
            font-size: 24px;
            font-weight: 400;
            color: #1a1a1a;
        }
    }

    // Стилизация оранжевых крутилок
    .navBtn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--color-accent-hover);
        color: black;
        border: none;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;
        z-index: 10;
        transition:
        opacity 0.2s ease,
        transform 0.2s ease;
        line-height: 1;
        padding: 0;
        padding-bottom: 2px;

        &:hover {
            background-color: var(--color-accent);
            transform: scale(1.08);
        }

        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }

    .prevBtn {
        margin-right: 16px;
    }

    .nextBtn {
        margin-left: 16px;
    }
}
